.box-portfolio {
  @extend .bg--light-gray;
  @extend .padding-component;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: rem(0 15px);
    text-align: center;
    margin-top: rem(30px);

    @include susy-media(desktop) {
      width: 25%;
    }
  }

  &__picture {
    img {
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: rem(30px);
    }
  }

  &__meta {
    @extend .title--medium;
    font-weight: 500;
    color: $primary-color;
  }

  &__content {
    @include susy-media(tablet) {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__body {
    text-align: left;

    @include susy-media(tablet) {
      font-size: rem(18px);
    }
  }
}


.morecontent {
  width: 100%;
  display: inline-block;

  @include susy-media(desktop) {
    display: inline;
  }

  > a {
    display: inline-block;
    color: $primary-color;
    position: relative;
    padding-bottom: rem(40px);
    margin-top: rem(20px);
    cursor: pointer;
    font-size: rem(14px);
    text-align: center;
    width: 100%;

    @include susy-media(desktop) {
      display: none;
    }

    &:before {
      @extend %icons;
      @extend .icon-chevron-with-circle-down:before;
      position: absolute;
      bottom: 0;
      font-size: rem(24px);
      left: 50%;
      margin-left: rem(-10px);
    }
  }
}

.show-more-all {
  @extend .morecontent;
  text-align: center;

  a {
    width: auto;
    display: none;

    @include susy-media(desktop) {
      display: block;
    }
  }
}
