.simple-cta {
  padding: rem(45px 0 44px);
  position: relative;
  z-index: 2;
  
  &:before {
    background: url('../images/white.png') no-repeat scroll 0 0 transparent;
    background-position: right center;
    background-size: contain;
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;

    @include susy-media(tablet) {
      background-size: 32% auto;
      display: block;
    }
  }

  &:after {
    content: '';
    border-color: $white transparent transparent;
    border-style: solid;
    border-width: rem(18px 20px 0);
    position: absolute;
    bottom: rem(-18px);
    left: 50%;
    transform: translate(rem(-20px), 0);
    width: 0;
    height: 0;
  }

  &.bg--gray-e7:after {
    border-top-color: $gray-e7;
  }

  &.bg--gray-e0:after {
    border-top-color: $gray-e0;
  }

  &.bg--gray-cd:after {
    border-top-color: $gray-cd;
  }

  &.bg--gray-c0:after {
    border-top-color: $gray-c0;
  }

  &.bg--primary:after {
    border-top-color: $primary-color;
  }

  &.bg--secondary:after {
    border-top-color: $secondary-color;
  }

  &.bg--gray-0a:after {
    border-top-color: $gray-0a;
  }

  &.bg--dark-gray:after {
    border-top-color: $gray-18;
  }

  &.bg--gray:after {
    border-top-color: $gray-25;
  }

  &.bg--gray-22:after {
    border-top-color: $gray-22;
  }

  &__inner {
    @include clearfix;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    place-content: stretch center;

    @include susy-media(tablet) {
      flex-flow: row nowrap;
      padding: 0 8%;
    }

    @include susy-media(desktopWide) {
      padding: 0 13%;
    }
  }

  &__title {
    font-size: rem(32px);
    text-align: center;

    @include susy-media(tablet) {
      flex: 1 1 0;
      margin-bottom: 0;
      padding-right: rem(20px);
      text-align: right;
    }

    @include susy-media(desktopWide) {
      padding-right: rem(50px);
    }
  }

  &__link {
    padding-top: rem(10px);
    text-align: center;
    width: 100%;

    @include susy-media(tablet) {
      padding-left: rem(30px);
      padding-right: rem(40px);
      padding-top: 0;
      width: auto;
    }

    @include susy-media(desktopWide) {
      padding-left: rem(40px);
      padding-right: rem(60px);
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }
}
